<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/index.css" rel="stylesheet">
    <title>Perfu.amate</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">

    


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/84e693e6f5.js" crossorigin="anonymous"></script>


    
</head>


<!-- INICIO DEL BODY -->


<body id="body">
    
    <div id="first-nav">
        <ul id="list-redes">
            <li class="maps-top"> <i class="fas fa-map-marker-alt icons-footer maps maps-tops we"> </i>    
                ‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎‎      ‏‏     ‏San Martín, Mendoza</li>
            
            <li><a href="https://www.instagram.com/perfu.amate/" target="blank"><i class="fab fa-instagram top-nav" ></a></i></li>
            <li><a href="https://api.whatsapp.com/send?phone=5492616808913&text=weon%20penca" target="blank"><i class="fab fa-whatsapp top-nav"></i></a></li>
            <li><a href="https://www.facebook.com/perfu.amate" target="blank"><i class="fab fa-facebook-square face top-nav"></i></a></i></li>
            

        </ul>

    </div>

    <header class="header">
        <nav id="nav">
            <div id="div-logo">
                <img src="../img/perfuamate.jpg" alt="perfuamate" id="logo"> 
                <img src="../img/perfuamate2.jpg" id="logo-dos">
            </div>
            <ul id="navBar">
                <li class="li-navBar"> <a href="../index.html">Inicio</a></li>
                <li class="li-navBar"> Quiénes somos?</li>
                <li class="li-navBar">Contacto</li>
            </ul>
        </nav>
    </header> 

    <!-- https://api.whatsapp.com/send?phone=5492616808913&text=weon%20penca -->

    <main id="main-main">

        <div class="barSup">
            <div class="barSupDos">
                <ul class="barSupTres">
                    <li class="listTwo"> <a href="../index.html">Perfumería Femenina</a></li>
                    <li class="listTwo"><a href="perfumeria-masculina.html">Perfumería Masculina</a></li>
                    <li class="listTwo"> <a href="belleza-y-cuidado.html">Belleza y Cuidado</a></li>
                    <li class="listTwo">Cuidados Diarios</li>
                </ul>
            </div>
        </div>

         
        <div id="main"> 
           

            <div class="picture large-picture asd">
                <div class="container-colores">
                    <div class="colores">   
                        <ul class="list-colores">
                            <li class="list-two-colores tittle ver">   ‎Colores      <i class="fas fa-shopping-cart buy car"></i>  ‏‏‎</li>
                            <a href="https://api.whatsapp.com/send?phone=5492616808913&text=¡Hola! Te envío mi pedido de Ciclo 03:

                                *1* *unidad(es)* - *Código: 95871* -  Precio: $ 1.240,00  Labial cristal líquido rose
                                
                                *Total = $1.240,00*
                                
                                *¡Gracias!*" target="blank"><li class="list-two-colores">   Rose  </li></a>

                            <a href=""><li class="list-two-colores">Rouge</li></a>
                            <li class="list-two-colores">Nude</li>
                            <li class="list-two-colores">Cobre</li>
                            
                        </ul> </div>

            
                </div>
                

                <figure class="figure"> <img src="../img-section-two/Labial-cristal-uma.jpg" alt="" class="img large-seis">  </figure>
                <div class="description">Labial Cristal Liquido</div>
                <div class="description-price">$1829</div>
                <div class="carro"><a href="https://api.whatsapp.com/send?phone=5492616808913&text=¡Hola! Te envío mi pedido de Ciclo 03:

                    *1* *unidad(es)* - *Código: 100971* -  Precio: $ 1.829,00  Kit Kaiak Aero Femenino  
                    
                    *Total = $1.829,00*" target="blank"></a></div>
            </div>










        
        
        </div>
            

            

           

       </div>



    </main>

    <footer id="footer-container">
        <div id="footer-inside">
            <ul class="list-footer">
                <li> <i class="fas fa-map-marker-alt icons-footer maps"> </i>         San Martín, Mendoza</li>
                <li></li>
            </ul>

        </div>
    
    </footer>
    
</body>
</html>