<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/index.css" rel="stylesheet">
    <title>Perfu.amate</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">

    


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/84e693e6f5.js" crossorigin="anonymous"></script>
    <link href="../img/perfuamate.jpg" rel="icon" type="image/jpg" >


    
</head>


<!-- INICIO DEL BODY -->


<body id="body">
    
    <div id="first-nav">
        <ul id="list-redes">
            <li class="maps-top"> <i class="fas fa-map-marker-alt icons-footer maps maps-tops we"> </i>    
                ‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎‎      ‏‏     ‏San Martín, Mendoza</li>
            
            <li><a href="https://www.instagram.com/perfu.amate/" target="blank"><i class="fab fa-instagram top-nav" ></a></i></li>
            <li><a href="https://api.whatsapp.com/send?phone=5492616971378&text=" target="blank"><i class="fab fa-whatsapp top-nav"></i></a></li>
            <li><a href="https://www.facebook.com/perfu.amate" target="blank"><i class="fab fa-facebook-square face top-nav"></i></a></i></li>
            

        </ul>

    </div>

    <header class="header">
        <nav id="nav">
            <div id="div-logo">
                <img src="../img/perfuamate.jpg" alt="perfuamate" id="logo"> 
                <img src="../img/perfuamate2.jpg" id="logo-dos">
            </div>
            <ul id="navBar">
                <!-- <li class="li-navBar"> <a href="../index.html">Inicio</a></li> -->
               
                <!-- <li class="li-navBar">Quiénes somos?</li>
                <li class="li-navBar">Contacto</li> -->
            </ul>
        </nav>
    </header> 

    <!-- https://api.whatsapp.com/send?phone=5492616808913&text=weon%20penca -->

    <main id="main-main">

        <div class="barSup">
            <div class="barSupDos">
                <ul class="barSupTres">
                    <li class="listTwo"> <a href="../index.html">Perfumería Femenina</a></li>
                    <li class="listTwo"><a href="perfumeria-masculina.html">Perfumería Masculina</a></li>
                 
                </ul>
            </div>
        </div>


        <div id="main">     

           

            <div class="picture large-picture-dos">
                <figure class="figure"><img src="../img/KAIAK-AERO-MASCULINO.jpg" alt="" class="img large-nueve">
                </figure>

                <div class="description">Kaiak aero eau de
                    toilette masculino 100 ml</div>
                <div class="description-price"><p class="normalPrice">$ 3140</p>  <p class="lowPrice">$ 2200</p> <p class="accurate">27% OFF</p></div>
                <div class="carro"><a href="https://api.whatsapp.com/send?phone=5492616971378&text=¡Hola! Te envío mi pedido de Ciclo 06:

                    *1* *unidad(es)* - *Código: 90916* -  Precio: $ 2.200,00  eau de toilette masculino  aero
                    
                    *Total = $2.200,00*
                    
                    *¡Gracias!*" target="blank"><i class="fas fa-shopping-cart buy"></i></a></div>
            </div>

            

           


            <div class="picture large-picture-dos">
                <figure class="figure"><img src="../img/KAIAK-Clasico-masculino.jpg" alt="" class="img large-cuatro">
                </figure>

                <div class="description">Kaiak clásico eau de toilette
                    masculino 100 ml
                </div>
                <div class="description-price"><p class="normalPrice">$ 3140</p>  <p class="lowPrice">$ 2200</p> <p class="accurate">27% OFF</p></div>
                <div class="carro"><a href="https://api.whatsapp.com/send?phone=5492616971378&text=¡Hola! Te envío mi pedido de Ciclo 06:

                    *1* *unidad(es)* - *Código: 22560* -  Precio: $ 2.200,00  eau de toilette masculino  clásico 
                    
                    *Total = $2.200,00*
                    
                    *¡Gracias!*" target="blank"><i class="fas fa-shopping-cart buy"></i></a></div>
            </div>

            <div class="picture large-picture-dos">
                <figure class="figure"><img src="../img/KAIAK-AVENTURA.jpg" alt="" class="img large-nueve">
                </figure>

                <div class="description">Kaiak aventura eau de
                    toilette masculino 100 ml
                </div>
                <div class="description-price"><p class="normalPrice">$ 3140</p>  <p class="lowPrice">$ 2200</p> <p class="accurate">27% OFF</p></div>
                <div class="carro"><a href="https://api.whatsapp.com/send?phone=5492616971378&text=¡Hola! Te envío mi pedido de Ciclo 06:

                    *1* *unidad(es)* - *Código: 22557* -  Precio: $ 2.200,00  eau de toilette masculino  aventura
                    
                    *Total = $2.200,00*
                    
                    *¡Gracias!*" target="blank"><i class="fas fa-shopping-cart buy"></i></a></div>
            </div>

            <div class="picture large-picture-dos">
                <figure class="figure"><img src="../img/KAIAK-URBE.jpg" alt="" class="img large-nueve">
                </figure>

                <div class="description">Kaiak urbe eau de toilette
                    masculino 100 ml
                </div>
                <div class="description-price"><p class="normalPrice">$ 3140</p>  <p class="lowPrice">$ 2200</p> <p class="accurate">27% OFF</p></div>
                <div class="carro"><a href="https://api.whatsapp.com/send?phone=5492616971378&text=¡Hola! Te envío mi pedido de Ciclo 06:

                    *1* *unidad(es)* - *Código: 34075* -  Precio: $ 2.200,00  eau de toilette masculino  urbe
                    
                    *Total = $2.200,00*
                    
                    *¡Gracias!*" target="blank"><i class="fas fa-shopping-cart buy"></i></a></div>
            </div>

            <div class="picture large-picture-dos">
                <figure class="figure"><img src="../img/Kaiak-extreme.jpg" alt="" class="img large-cuatro">
                </figure>

                <div class="description">Kaiak extremo eau de toilette
                    masculino 100 ml
                </div>
                <div class="description-price"><p class="normalPrice">$ 3140</p>  <p class="lowPrice">$ 2200</p> <p class="accurate">27% OFF</p></div>
                <div class="carro"><a href="https://api.whatsapp.com/send?phone=5492616971378&text=¡Hola! Te envío mi pedido de Ciclo 06:

                    *1* *unidad(es)* - *Código: 50990* -  Precio: $ 2.200,00  eau de toilette masculino extremo
                    
                    *Total = $2.200,00*
                    
                    *¡Gracias!*" target="blank"><i class="fas fa-shopping-cart buy"></i></a></div>
            </div>

            <div class="picture large-picture-dos">
                <figure class="figure"><img src="../img/KAIAK-EAUDEPARFUM.jpg" alt="" class="img large-cuatro">
                </figure>

                <div class="description">Kaiak eau de parfum 100 ml</div>
                <div class="description-price">$4780</div>
                <div class="carro"><a href="https://api.whatsapp.com/send?phone=5492616971378&text=¡Hola! Te envío mi pedido de Ciclo 06:

                    *1* *unidad(es)* - *Código: 93269* -  Precio: $ 4.780,00  eau de parfum 
                    
                    *Total = $4.780,00*
                    
                    *¡Gracias!*" target="blank"><i class="fas fa-shopping-cart buy"></i></a></div>
            </div>

            <div class="picture large-picture-dos">
                <figure class="figure"><img src="../img/ESSENCIAL-SUPREME.jpg" alt="" class="img large-cinco">
                </figure>

                <div class="description">Essencial supreme
                    eau de parfum
                    masculino 100 ml</div>
                <div class="description-price">$5235</div>
                <div class="carro"><a href="https://api.whatsapp.com/send?phone=5492616971378&text=¡Hola! Te envío mi pedido de Ciclo 06:

                    *1* *unidad(es)* - *Código: 8720* -  Precio: $ 5.235,00  eau de parfum masculino supreme
                    
                    *Total = $5.235,00*
                    
                    *¡Gracias!*" target="blank"><i class="fas fa-shopping-cart buy"></i></a></div>
            </div>

            <div class="picture large-picture-dos">
                <figure class="figure"><img src="../img/ESSENCIAL-INTENSO.jpg" alt="" class="img large-cinco">
                </figure>

                <div class="description">Essencial intenso
                    eau de parfum
                    masculino 100 ml</div>
                <div class="description-price">$5235</div>
                <div class="carro"><a href="https://api.whatsapp.com/send?phone=5492616971378&text=¡Hola! Te envío mi pedido de Ciclo 06:

                    *1* *unidad(es)* - *Código: 44148* -  Precio: $ 5.235,00  eau de parfum masculino  intenso
                    
                    *Total = $5.235,00*
                    
                    *¡Gracias!*" target="blank"><i class="fas fa-shopping-cart buy"></i></a></div>
            </div>

            <div class="picture large-picture-dos">
                <figure class="figure"><img src="../img/ESSENCIAL-OUD.jpg" alt="" class="img large-cinco">
                </figure>

                <div class="description">Essencial oud
                    eau de parfum
                    masculino 100 ml</div>
                <div class="description-price">$5235</div>
                <div class="carro"><a href="https://api.whatsapp.com/send?phone=5492616971378&text=¡Hola! Te envío mi pedido de Ciclo 06:

                    *1* *unidad(es)* - *Código: 3773* -  Precio: $ 5.235,00  eau de parfum masculino  oud
                    
                    *Total = $5.235,00*
                    
                    *¡Gracias!*" target="blank"><i class="fas fa-shopping-cart buy"></i></a></div>
            </div>

            <div class="picture large-picture-dos">
                <figure class="figure"><img src="../img/ESSENCIAL-Exclusivo.jpg" alt="" class="img large-seis">
                </figure>

                <div class="description">Essencial exclusivo
                    eau de parfum
                    masculino 100 ml</div>
                <div class="description-price">$5235</div>
                <div class="carro"><a href="https://api.whatsapp.com/send?phone=5492616971378&text=¡Hola! Te envío mi pedido de Ciclo 06:

                    *1* *unidad(es)* - *Código: 44157* -  Precio: $ 5.235,00  eau de parfum masculino  exclusivo
                    
                    *Total = $5.235,00*
                    
                    *¡Gracias!*" target="blank"><i class="fas fa-shopping-cart buy"></i></a></div>
            </div>

            <div class="picture large-picture-dos">
                <figure class="figure"><img src="../img/nox-naranja.jpg" alt="" class="img large-siete padding-top larrtres">
                </figure>

                <div class="description">Urbano nox eau de toilette masculino 100 ml</div>  
                <div class="description-price">$2580</div>
                <div class="carro"><a href="https://api.whatsapp.com/send?phone=5492616971378&text=¡Hola! Te envío mi pedido de Ciclo 06:

                    *1* *unidad(es)* - -  Precio: $ 2.580,00  Urbano nox eau de toilette masculino 100 ml
                    
                    *Total = $2.580,00*
                    
                    *¡Gracias!*" target="blank"><i class="fas fa-shopping-cart buy"></i></a></div>
            </div>

            <div class="picture large-picture-dos">
                <figure class="figure"><img src="../img/nox-verde.jpg" alt="" class="img large-siete padding-top larrtres">
                </figure>

                <div class="description">Urbano recria eau de toilette masculino 100 ml</div>
                <div class="description-price">$2580</div>
                <div class="carro"><a href="https://api.whatsapp.com/send?phone=5492616971378&text=¡Hola! Te envío mi pedido de Ciclo 06:

                    *1* *unidad(es)* - *Código: 91337* -  Precio: $ 2.580,00  eau de toilette masculino recria
                    
                    *Total = $2.580,00*
                    
                    *¡Gracias!*" target="blank"><i class="fas fa-shopping-cart buy"></i></a></div>
            </div>

            <div class="picture large-picture-dos">
                <figure class="figure"><img src="../img/Sr-N.jpg" alt="" class="img large-cuatro larrcuatro">
                </figure>

                <div class="description">Sr N Clásico
                    eau de toilette
                    masculino 100 ml</div>
                <div class="description-price">$2580</div>
                <div class="carro"><a href="https://api.whatsapp.com/send?phone=5492616971378&text=¡Hola! Te envío mi pedido de Ciclo 06:

                    *1* *unidad(es)* - *Código: 69198* -  Precio: $ 2.580,00  eau de toilette masculino Sr N Clásico
                    
                    *Total = $2.580,00*
                    
                    *¡Gracias!*" target="blank"><i class="fas fa-shopping-cart buy"></i></a></div>
            </div>

            <div class="picture large-picture-dos">
                <figure class="figure"><img src="../img/Natura-Biografia.jpg" alt="" class="img large-cuatro">
                </figure>

                <div class="description">Biografia clásico
                    masculino eau de
                    toilette 100 ml</div>
                <div class="description-price">$3290</div>
                <div class="carro"><a href="https://api.whatsapp.com/send?phone=5492616971378&text=¡Hola! Te envío mi pedido de Ciclo 06:

                    *1* *unidad(es)* - *Código: 74789* -  Precio: $ 3.290,00  eau de toilette clásico masculino
                    
                    *Total = $3.290,00*
                    
                    *¡Gracias!*" target="blank"><i class="fas fa-shopping-cart buy"></i></a></div>
            </div>

            <!--  -->

            <div class="picture large-picture-dos">
                <figure class="figure"><img src="../img/Natura-Assignature.jpg" alt="" class="img large-cuatro">
                </figure>

                <div class="description">Biografia assinatura
                    masculino eau de
                    toilette 100 ml</div>
                <div class="description-price">$3290</div>
                <div class="carro"><a href="https://api.whatsapp.com/send?phone=54926169713783&text=¡Hola! Te envío mi pedido de Ciclo 06:

                    *1* *unidad(es)* - *Código: 74792* -  Precio: $ 3.290,00  eau de toilette assinatura masculino
                    
                    *Total = $3.290,00*
                    
                    *¡Gracias!*" target="blank"><i class="fas fa-shopping-cart buy"></i></a></div>
            </div>

            <!--  -->

            <div class="picture large-picture-dos">
                <figure class="figure"><img src="../img/Homem-Clasico.jpg" alt="" class="img large-siete padding-top">
                </figure>

                <div class="description"> Homem clásico
                    eau de toilette
                    masculino 100 ml </div>

                <div class="description-price">$3470</div>
                <div class="carro"><a href="https://api.whatsapp.com/send?phone=5492616971378&text=¡Hola! Te envío mi pedido de Ciclo 06:

                    *1* *unidad(es)* - *Código: 57351* -  Precio: $ 3.470,00  eau de toilette masculino clásico
                    
                    *Total = $3.470,00*
                    
                    *¡Gracias!*" target="blank"><i class="fas fa-shopping-cart buy"></i></a></div>
            </div>

            <!--  -->

            <div class="picture large-picture-dos">
                <figure class="figure"><img src="../img/Homem-negro.jpg" alt="" class="img large-cinco">
                </figure>

                <div class="description"> Homem cor.agio
                    eau de parfum
                    masculino 100 ml</div>

                <div class="description-price">$5020</div>
                <div class="carro"><a href="https://api.whatsapp.com/send?phone=5492616971378&text=¡Hola! Te envío mi pedido de Ciclo 06:

                    *1* *unidad(es)* - *Código: 186* -  Precio: $ 5.020,00  eau de parfum masculino cor.agio
                    
                    *Total = $5.020,00*
                    
                    *¡Gracias!*" target="blank"><i class="fas fa-shopping-cart buy"></i></a></div>
            </div>

            <!--  -->

            <div class="picture large-picture-dos">
                <figure class="figure"><img src="../img/homem-verde.jpg" alt="" class="img large-cuatro">
                </figure>

                <div class="description"> Homem verum
                    eau de parfum
                    masculino 100 ml </div>

                <div class="description-price">$4085</div>
                <div class="carro"><a href="https://api.whatsapp.com/send?phone=5492616971378&text=¡Hola! Te envío mi pedido de Ciclo 06:

                    *1* *unidad(es)* - *Código: 186* -  Precio: $ 4.085,00  Homem verum
                    eau de parfum
                    masculino 100 ml 
                    
                    *Total = $4.085,00*
                    
                    *¡Gracias!*" target="blank"><i class="fas fa-shopping-cart buy"></i></a></div>
            </div>

            <!--  -->

            <div class="picture large-picture-dos">
                <figure class="figure"><img src="../img/homem-rojo.jpg" alt="" class="img large-cuatro">
                </figure>

                <div class="description"> Homem potence
                    eau de parfum
                    masculino 100 ml </div>

                <div class="description-price">$4085</div>
                <div class="carro"><a href="https://api.whatsapp.com/send?phone=5492616971378&text=¡Hola! Te envío mi pedido de Ciclo 06:

                    *1* *unidad(es)* - *Código: 81950* -  Precio: $ 4.085,00  eau de parfum masculino potence
                    
                    *Total = $4.085,00*
                    
                    *¡Gracias!*" target="blank"><i class="fas fa-shopping-cart buy"></i></a></div>
            </div>

            <!--  -->

            <div class="picture large-picture-dos">
                <figure class="figure"><img src="../img/Homem-essence.jpg" alt="" class="img large-cuatro">
                </figure>

                <div class="description"> Homem essence
                    eau de parfum
                    masculino 100 ml </div>

                <div class="description-price">$4085</div>
                <div class="carro"><a href="https://api.whatsapp.com/send?phone=5492616971378&text=¡Hola! Te envío mi pedido de Ciclo 06:

                    *1* *unidad(es)* - *Código: 59848* -  Precio: $ 4.085,00  eau de parfum masculino essence
                    
                    *Total = $4.085,00*
                    
                    *¡Gracias!*" target="blank"><i class="fas fa-shopping-cart buy"></i></a></div>
            </div>

            <!--  -->

            <div class="picture large-picture-dos">
                <figure class="figure"><img src="../img/humor-verde.jpg" alt="" class="img large-cuatro"> </figure>

                <div class="description"> Humor eau de toilette masculino paz e humor 75 ml</div>

                <div class="description-price">$2860</div>
                <div class="carro"><a href="https://api.whatsapp.com/send?phone=5492616971378&text=¡Hola! Te envío mi pedido de Ciclo 06:

                    *1* *unidad(es)* - *Código: 64750* -  Precio: $ 2.860,00  eau de toilette masculino paz e humor
                    
                    *Total = $2.860,00*
                    
                    *¡Gracias!*" target="blank"><i class="fas fa-shopping-cart buy"></i></a></div>
            </div>

            <!--  -->

            <div class="picture large-picture-dos">
                <figure class="figure"><img src="../img/humor-naranja-hombre.jpg" alt="" class="img large-cuatro"></figure>

                <div class="description"> Humor eau de toilette masculino química de humor 75 ml </div>

                <div class="description-price">$2860</div>
                <div class="carro"><a href="https://api.whatsapp.com/send?phone=5492616971378&text=¡Hola! Te envío mi pedido de Ciclo 06:

                    *1* *unidad(es)* - *Código: 73688* -  Precio: $ 2.860,00  eau de toilette masculino química de humor
                    
                    *Total = $2.860,00*
                    
                    *¡Gracias!*" target="blank"><i class="fas fa-shopping-cart buy"></i></a></div>
            </div>

            <!--  -->

            <div class="picture large-picture-dos">
                <figure class="figure"><img src="../img/humor-rojo.jpg" alt="" class="img large-cuatro"></figure>

                <div class="description"> Humor masculino humor a dois eau de toilette 75 ml </div>

                <div class="description-price">$2860</div>
                <div class="carro"><a href="https://api.whatsapp.com/send?phone=5492616971378&text=¡Hola! Te envío mi pedido de Ciclo 06:

                    *1* *unidad(es)* - *Código: 64748* -  Precio: $ 2.860,00  eau de toilette masculino humor a dois
                    
                    *Total = $2.860,00*
                    
                    *¡Gracias!*" target="blank"><i class="fas fa-shopping-cart buy"></i></a></div>
                </div>
       </div>



    </main>

    <footer id="footer-container">
        <div id="footer-inside">
            <ul class="list-footer">
                <li> <i class="fas fa-map-marker-alt icons-footer maps"> </i>         San Martín, Mendoza</li>
                <li></li>
            </ul>

        </div>
    
    </footer>
    
</body>
</html>